<h1>Meet <%= @pet.name %></h1>
<ul>
<li><%= @pet.species %></li>
<li><%= @pet.breed %></li>
<li><%= @pet.age %></li>
<li><%= @pet.weight %></li>
<li><%= @pet.disposition %></li>
<li><%= @pet.special_need %></li>
<li><%= @pet.picture_url %></li>
</ul>
