<br>
<br>
<div class="card" style="width: 50rem;">
  <%= image_tag(@pet.picture_url) %>
  <div class="card-body">
    <h5 class="card-title">About <%= @pet.name %></h5>
    <p class="card-text">Here are some quick stats about your new friend:</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Age: <%= @pet.age %></li>
    <li class="list-group-item">Weight (lbs): <%= @pet.weight %></li>
    <li class="list-group-item">Disposition: <%= @pet.disposition %></li>
    
      <li class="list-group-item">Average Rating: <%= @pet.average_review_rating %></li>
       
  </ul>
  <div class="card-body">
    <h5 class="card-title">Upcoming Appointments (<%=@pet.upcoming_appointments_count%>)</h5>
    <ul>
    <% @pet.upcoming_appointments.each do |appointment| %>
        <li><%= link_to(appointment.summary, appointment_path(appointment)) %></li>
    <% end %>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Previous Appointments (<%=@pet.previous_appointments_count%>)</h5>
    <ul>
    <% @pet.previous_appointments.each do |appointment| %>
        <li><%= link_to(appointment.summary, appointment_path(appointment)) %></li>
    <% end %>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Reviews (<%=@pet.reviews_count%>)</h5>
    <ul>
    <% @pet.reviews_date_ordered.each do |review| %>
        <li><%= link_to(review.title , review_path(review))%></li>
        <ul>
            <li>User: <%= review.user.username %></li>
            <li>Rating: <%= review.rating %></li>
            <li>Updated: <%= review.updated_at%>
        </ul>
            <% end %>
</ul>
  </div>
  
</div>
<br>
<br>
