<h1><%= @user.username %><h1>
<h3>Contact Information:</h3>
<ul>
    <li>Phone: <%= @user.phone %></li>
    <li>Address: <%= @user.address %></li>
</ul>

<%= link_to('Edit', edit_user_path(@user)) %>
<%= link_to('Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }) %>

<h3>Upcoming Appointments:</h3>
<ul>
    <% @user.upcoming_appointments.each do |appointment| %>
        <li><%= link_to(appointment.check_out_date, appointment_path(appointment)) + ": " + link_to(appointment.pet.name, pet_path(appointment.pet)) %></li>
    <% end %>
</ul>

<h3>Previous Appointments:</h3>
<ul>
    <% @user.previous_appointments.each do |appointment| %>
        <li><%= link_to(appointment.check_out_date, appointment_path(appointment)) + ": " + link_to(appointment.pet.name, pet_path(appointment.pet)) %></li>
    <% end %>
</ul>