<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Appointment Details</h5>
    
  </div>
  <ul class="list-group list-group-flush" >
    <li>Check-Out Date: <%= @appointment.check_out_date %></li>
    <li>Check-in Date: <%= @appointment.check_in_date %></li>
    <li>User: <%= link_to(@appointment.user.username, user_path(@appointment.user)) %></li>
    <li>Pet: <%= link_to(@appointment.pet.name, pet_path(@appointment.pet)) %></li>
  </ul>
  <div class="card-body">
    <a class="card-link">Total: <%= @appointment.summary %></a>
   
  </div>
</div>