<h1>New Review</h1>

<% if flash[:errors] %>
    <ul style = "color: red">
    <% flash[:errors].each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @review do |f| %>
    <%= f.label :user %>
    <%= f.collection_select(:user_id, User.all_username_ordered, :id, :username) %>
    <br>
    <%= f.label :pet %>
    <%= f.collection_select(:pet_id, Pet.all_name_ordered, :id, :name) %>
    <br>
    <%= f.label("Title") %>
    <%= f.text_field :title %>
    <br>
    <%= f.label("Description") %>
    <%= f.text_field :content %>
    <br>
    <%= f.label("Rating") %>
    <%= f.number_field :content %>
    <br>
    <%= f.submit %>
<% end %>