<div class="h1 text-center"><h1><%= @review.title %></h1></div>
<div class="h3 text-center">
    <li>Rating: <%= @review.rating %></li>
    <li>User: <%= link_to(@review.user.username, user_path(@review.user)) %></li>
    <li>Pet: <%= link_to(@review.pet.name, pet_path(@review.pet)) %></li>
    <li>Date: <%= @review.date %></li>

<p><%= @review.content %></p></div>
